/* add home page styles here */
.shells img {
    width: 125px;
    padding: 15px;
}

.shells {
    display: flex;
    flex-direction: row;
}

.shell {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pearl.reveal{
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color: #d1d4d6;
    border-radius: 50%;
    box-shadow: 2px 2px 7px 1px #3c4b55;
}
